/* Created by: Ain Jeong
* Created on: May 2025
* This file contains the CSS for index.php and answer.php
*/

.mdl-layout__header-row {
  align-items: center;
  justify-content: center;
}

.mdl-layout__content {
  padding-left: 15pt;
  padding-right: 15pt;
  padding-top: 15pt;
}

.page-content-guide {
  color: black;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.3rem;
  padding-bottom: 20pt;
}

.page-content {
  color: black;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.7rem;
  padding-left: 10pt;
  padding-top: 5pt;
  padding-bottom: 5pt;
}

.page-content-answer {
  color: black;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.7rem;
  padding-top: 20pt;
  padding-bottom: 20pt;
}

.page-content-return {
  color: black;
  padding-top: 10pt;
}

body {
  background-color: rgb(255 248 216);
}

img {
  height: auto;
  width: 500px;
  float: right;
}
